html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #faf9f8;
}

* {
  box-sizing: border-box;
}

.dark-mode {
  background-color: #121212 !important;
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-input__inner {
  background-color: #333333 !important;
  color: RGB(204, 204, 204) !important;
  border-color: #666666 !important;
}
/* 右侧弹窗关闭按钮 */
.dark-mode .el-button {
  background-color: #121212 !important;
  border-color: #121212 !important;
}

.dark-mode .el-button:hover {
  background-color: RGB(45, 39, 54) !important;
}

.dark-mode .el-textarea__inner {
  background-color: #333333 !important;
  color: RGB(204, 204, 204) !important;
  border-color: #666666 !important;
}

.dark-mode .el-menu {
  background-color: #333333 !important;
}

.dark-mode .el-menu-item {
  background-color: #333333 !important;
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-menu-item:hover {
  background-color: #666666 !important;
}

.dark-mode .el-switch.is-checked .el-switch__core {
  background-color: #2564cf !important;
  border-color: #2564cf !important;
}
.dark-mode .el-switch__core {
  background-color: #242424 !important;
  border-color: #242424 !important;
}

.dark-mode .total {
  background-color: #121212 !important;
  border-bottom: 1px solid #4c4d4f !important;
}

.dark-mode .buttontext {
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-popover {
  background-color: #333333 !important;
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-popover__title {
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-dialog {
  background-color: #333333 !important;
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-dialog__title {
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-dialog__headerbtn .el-dialog__close {
  color: RGB(204, 204, 204) !important;
}

.dark-mode .el-input-number__decrease:hover,
.dark-mode .el-input-number__increase:hover {
  color: RGB(204, 204, 204) !important;
}

.dark-mode .main-container {
  background-color: #121212 !important;
}

.dark-mode .leftcontent {
  background-color: #121212 !important;
}

.dark-mode .content {
  background-color: #121212 !important;
}

.dark-mode .sidebar {
  background-color: #121212 !important;
}

.dark-mode .all {
  background-color: #121212 !important;
}

.dark-mode .all::after {
  background-color: #121212 !important;
  width: 0 !important;
}

.dark-mode .toggle {
  background-color: #121212 !important;
}

.dark-mode .nav li {
  color: #000000 !important;
  background-color: #121212 !important;
}

.dark-mode .unselected:hover {
  background-color: #333333 !important;
}

.dark-mode .selected {
  background-color: #19222c !important;
  color: #409eff !important;
}

.dark-mode .selected::before {
  background-color: #409eff !important;
}

.dark-mode .text {
  color: RGB(204, 204, 204) !important;
}

.dark-mode .ul-last {
  background-color: #121212 !important;
  display: none !important;
}

.dark-mode .choice {
  border-bottom: none !important;
}

.dark-mode .innerList {
  border-bottom: none !important;
}

.dark-mode .nav li img {
  filter: invert(0.9) brightness(1.2) sepia(0.2) saturate(0.2);
}

/* 侧边栏svg */
.dark-mode li img,
.dark-mode .toggle img,
.dark-mode .content img {
  filter: invert(1);
}
/* 顶部左侧svg */
.dark-mode .total .headicon img {
  filter: invert(0.7) brightness(1.5) sepia(1) hue-rotate(180deg) saturate(5);
}
.dark-mode .total .title {
  color: #409eff;
}
/* 搜索框 */

/* 新增 */
/* 夜间模式 */
.dark-mode .whole div.active img {
  filter: invert(1) !important;
}

.dark-mode .init-button {
  background-color: #242424 !important;
  border: none !important;
}
/* 搜索提示框 */
.dark-mode .search-results {
  background-color: #242424 !important;
  border: none !important;
}
.dark-mode .search-result-item:hover {
  background-color: #a7a1a1 !important;
}
/* 搜索框图标 */
.dark-mode .el-input__prefix,
.dark-mode .el-input__suffix,
.dark-mode .el-input__inner {
  background-color: #242424 !important;
}

.dark-mode .gear:hover,
.dark-mode .questionMark:hover,
.dark-mode .paperPlane:hover,
.dark-mode .personalCenter:hover {
  background-color: #333333 !important;
}
.dark-mode .rightwindow {
  background-color: #121212 !important;
}
/* 右侧弹窗标题、副标题 */
.dark-mode .total .title h3,
.dark-mode .total .content .subtitle {
  color: RGB(204, 204, 204);
}

.dark-mode .total .choice {
  color: RGB(170, 170, 170);
}
/* 设置界面按钮 */
.dark-mode .total .button .el-switch {
  --el-switch-on-color: #000 !important;
  --el-switch-off-color: #ccc !important;
}
/* 搜索框左右提示框 */
.dark-mode #tooltip15,
.dark-mode #tooltip16 {
  background-color: #242424 !important;
  color: RGB(204, 204, 204) !important;
}
.dark-mode #tooltip15::after {
  border-color: transparent transparent transparent #242424 !important;
}
.dark-mode #tooltip16::before {
  border-color: transparent transparent #242424 transparent !important;
}

.dark-mode .custom-button {
  background-color: #242424 !important;
}

.dark-mode :deep(.custom-button span) {
  color: #ccc !important;
}

/* 非夜间模式 */
.whole div.active:hover {
  /* 点击后hover */
  background-color: #005a9e;
}

.whole div.active img {
  filter: none !important;
}

.inactive-icon {
  background-color: #fff;
}
.dark-mode .inactive-icon {
  background-color: #121212;
}

body.dark-mode .settingSection .el-button[type='primary'][color='#626aef'] {
  border: 1px solid #cccccc !important;
}
/* 帮助界面 */

.dark-mode .total .innerContent {
  background-color: #383838 !important;
  color: RGB(204, 204, 204) !important;
}
.dark-mode :deep(.el-collapse-item__content) {
  background-color: #383838 !important;
}
.dark-mode .personal-name {
  color: #ccc !important;
}